.test-status-root {
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
}

.modular-container {
  padding: 0;
  margin: 0;
  position: absolute;
  border: 1px solid grey;
  border-radius: 2px;
}

.ia-root {
  --midi-learn-color: rgb(0, 195, 255);

  padding: 0;
  margin: 0;
  background-color: rgb(240, 240, 240);
  border: 1px dashed grey;
  position: relative;
}

.keyboard-key {
  display: inline-block;
  padding: 0;
}

.keyboard-key-pressed,
.keyboard-key:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.bang-pressed,
.bang:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.component-muted {
  opacity: 0.7;
  pointer-events: none;
}

.midi-learn-listening {
  /* border: 2px solid; */
  animation-name: midi-learn-color-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.midi-learn-assigned {
  border-color: var(--midi-learn-color);
}

@keyframes midi-learn-color-animation {
  0% {
    border-color: var(--midi-learn-color);
  }

  50% {
    border-color: rgb(255, 255, 255);
  }

  100% {
    border-color: var(--midi-learn-color);
  }
}

.component-bypassed {}

.component-uninitialized {
  opacity: 0.5;
}

.bypass-indicator {
  height: 5px;
  width: 5px;
  background-color: #ff0000;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  pointer-events: none;
  display: none;
}

.monitor-value {
  position: absolute;
  left: 5px;
  opacity: 0.5;
}

.monitor-out-of-bounds {
  border: 1px solid red !important;
}